/*
* TOC
* CSS-RESET
* CLEARFIX
* BASE
* HEADER & NAV
* MAIN CONTENT
* FOOTER
* MEDIA QUERIES
*
*
*/

/* 1. Box Model */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*bättre kontroll dvs padding och border inräknade i width- https://css-tricks.com/box-sizing/*/

/*********************
*
* BASE
*
*********************/

html {
    height: 100%; /*så att scrollistan syns i alla webbläsare - http://cumulus.ei.hv.se/~pb/kurser/webbdesign/responsive-web-design/ ca 5min*/
}

body {
    font-size: 18px; /*ref på vrf bra som handledning och artikel w3 kanske*/
    background: #f0f0f0; /*HTML WhiteSmoke+ - lite mörkare så ringarna syns bättre men ej för mkt annars mörk sida - https://www.w3schools.com/colors/colors_shades.asp*/

    /*height: height: 100%;  - se länk ovan - för att sträcka ut?*/
    min-height: 100%; /*nu går gråa bg hela vägen till footern*/

    font-family: Helvetica, Arial, "sans-serif";
    color: #222; /*bättre än svart enligt forskning (ca 12 min av HiFi-1) - lättsammare för ögat*/
}

h1, h2, h3, h4, h5, h6 { /*förbereder för framtiden*/
    font-family: 'Roboto', sans-serif; /*firefly inspiration*/
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
    text-align: center; /*todo mobil-version flytta dit?*/
    /*margin-bottom: 1.2em;*/ /*lägg i main h1*/
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em; /*ur länk ovan 10:40*/
    font-size: 1.2em;
}

ul {    
    list-style-type: disc;
    padding-left: 2.5em; /*% ledde till punkt innan h2 vid liten skärm*/
    /*testade fram till default värdet*/
    /*https://stackoverflow.com/questions/11445453/css-set-li-indent*/
    
    margin-bottom: 2em
}

/*********************
*
* HEADER / NAV / TOP 
*
*********************/

#site-header {
    background: #1abc9c;
    padding:  18px; /* om jag gör detta på body så breddar sig backgrunden ej hela vägen ut! */ /*1em kommer bli stort och konstigt om man ändrar eller lägger till större font size*/
    min-height: 330px; /*if no text is displayed then do not look weird*/
    color: white;
    
/*    //background: url(../images/nature-light-bulb.jpg) no-repeat center center;*/
    background-image: url(../images/notebook-and-pen.jpg);
    background-position: center center; /*x och y*/
    background-repeat: no-repeat;
    /*https://www.webpagefx.com/blog/web-design/responsive-background-image/*/

    background-size: cover;
    /* Always set a background-color to be used if the image is unavailable - tex image loading. - https://www.w3schools.com/cssref/pr_background-image.asp*/

    background-color: gray;
    background-blend-mode: multiply;
}

.landing-page #site-header {
    background-image: url(../images/nature-light-bulb.jpg);
    
    /*för att göra vita texten och kontrastet mer synlig. men ej för mörk för att bevara den fina bilden med den fina gröna bladet*/
    background-color: lightgray;
    
}

#site-header h1 {
    font-size: 3em; /* TODO är detta strlken jag vill ha? em? */
    float: left;    
    margin-left: 2%;    
    line-height: 1em;
    font-family: 'Comfortaa', cursive;        
    text-shadow: 0px -1px 1px #000; /*rwd lektionen*/    
}

#site-header nav {
    float: right;    
    margin-right: 2%; /* obs samma som h1 margin left */    
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;    
}

#site-header nav ul {
    font-size: 1.6em;
    padding-left: 0; /*ser bättre ut när man har minsta strlk på skärmen*/ /*todo lägga i mq?*/    
}

#site-header li { /* TODO och obs att ul tagits bort, rätt? */ 
    display: inline-block;
    margin-left: 20px; /*w3s anv padding här - https://www.w3schools.com/css/css_inline-block.asp*/    
    /*% gav egen rad dvs för mkt förutom ca 0.001 typ*/
}

#site-header ul a { /* TODO radera nav för att endast få ner till tre nivåer? optimering? */
    color: rgba(255,255,255,0.75); 
    /*https://jonpolygon.com/css-hover-link-colors/*/
    /*https://stackoverflow.com/questions/7015302/css-hexadecimal-rgba*/
    /*caniuse*/
    
    text-decoration: none;
    padding: 0.2em; /* för att göra den klickbara ytan större */ /*% gav egen rad*/
}

#site-header ul a:hover {
    color: white;
}

#site-header p {
    /*testade roboto men verkar som att den är aningen för tunn och syns inte lika bra ovanför bilden*/
    font-family: Helvetica, Arial, "sans-serif"; /*eller open sans?*/
    font-size: 1.5em;
    text-align: center;
    width: 50%;
    margin: 3.5em auto 3.5em; /*TODOT merga 3.5 - lade till bottom för resposiviteten dvs att texten ej 
    clear: both; /* säkerhetsåtgärd om övre info blir för långa */
    /*relativ till texten*/
}

/*********************
*
* MAIN CONTENT 
*
*********************/

main {
    width: 70%;
    margin: 4% auto;
    background: white;
    padding: 50px 100px;
    /*padding: 2.7em 5.5em;*/
    
    /*display: flex;*/ /*verkar förstöra float mekanismen men har box sizing i sig?*/
    /*samma höjd på kolumner*/
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landing-page main {    
    width: 80%;
    background: inherit; /*för att ta bodys gråa*/    
    margin-top: 90px; /*lämna för beroende av bildstorleken*/
    padding: 0; /*no px needed?*/
    box-shadow: none;
}

main h1 {
    margin-bottom: 1.2em;
}

main ul {
    font-size: 1.3em;        
}

main ul ul { /*https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
    font-size: 1em;        
}

main .column {
    background: white; 
    width: 31.33%; /*om den ska byta rad automatiskt så måste sätta i pixlar*/
    float: left;            
    padding: 130px 2.5% 2.5% 2.5%;  /*% blir mindre när kolumnerna blir - px för relation till bild*/
    margin-left: 1%;
    margin-right: 1%;
    position: relative; /*gör denna till image anchor point*/        

    /* to create paper-like cards - https://www.w3schools.com/css/css3_shadows.asp*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

main img {
    width: 220px; /*TODO titta på max-width för att skala bilden då skärmen blir mindre*/
    height: 220px;
    border-radius: 50%;
    border: 10px solid white;    
    position: absolute;  /*dessa två rader här bättre för gemensamt och att uppdatera i ett ställe*/
    top: -130px;
    background: #2E4A62; /*Sailor Blue - Spring 2018 Classic Color Palette - https://www.w3schools.com/colors/colors_trends.asp - om bilden eller bilderna ej har laddat eller kan ej. försökte få denna nära headern men ändå trendig*/
}

main img.my-home {    
    left: 0px;    
}

main img.my-equipment {    
    right: 0px;    
}

main img.my-time {    
    /*to center*/
    /*for responsive design or unknown dimensions*/
    /*https://stackoverflow.com/questions/1776915/how-to-center-absolutely-positioned-element-in-div*/
    left: 50%;
    transform: translate(-50%, 0);
    
    /*this also work according to same source*/
    /*left: 0;
    right: 0;
    display: block;     
    margin-left: auto; 
    margin-right: auto;*/
}

main p {
    margin-bottom: 1em;
}

main .column p:first-of-type { /*https://css-tricks.com/almanac/selectors/f/first-child/*/
    font-weight: bold;
    font-size: 1.3em;
} 

/*********************
*
* FOOTER 
*
*********************/

footer {    
    clear: both;
    background: #2E4A62;
    color: white;    
    padding: 1%;
}

footer section {
    width: 33.3%;
    float: left;
/*
    //text-align: center;
    //margin-bottom: 20px;
*/
}

footer .wrapper {
/*    //display: inline-block; */
    /*funkar ej - https://www.codecademy.com/en/forum_questions/5227865580ff3350200003cd*/
    
/*    //display: table; */
    /*funkar med auto - https://stackoverflow.com/questions/9313276/div-with-displayinline-block-margin-0-auto-not-center*/
    
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

footer h3 { /*TODO section needed?*/
    font-family: 'Comfortaa', cursive; /*fundera på att ha regler som grupperar liknande så man bara behöver uppdatera i ett ställe*/
    font-size: 1.2em;    
    margin-bottom: 0.7em;
}

footer p {
    line-height: 1.4em;
}


/*********************
*
* MEDIA QUERIES
*
*********************/

/* For mobile phones - Extra small devices (phones, 600px and down)*/
/* Note: Small devices (portrait tablets and large phones, 600px and up (till 768)) */
/*Källa: https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
/*https://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/
@media only screen and (max-width: 600px),
            screen and (max-device-width: 600px) {

    body {
        font-size: 16px;
    } /*TODO remove - just for testing*/

    #site-header {
        background-image: url(../images/notebook-and-pen-mobile-version.jpg);
        /*bilden 3 ggr mindre - 35% mindre*/
        min-height: 200px;
        
    }

    .landing-page #site-header {
        background-image: url(../images/nature-light-bulb-mobile-version.jpg);
        /*ca 30% mindre i lagringsstrlk*/        
    }

    #site-header h1 {
        margin-left: 0px;
        float: none;
    }

    #site-header nav {        
        float: none;
        text-align: center;        
    }

    #site-header p {
        margin: 0.5em auto 2em;
        font-weight: bold; /*så texten syns bättre framför bilden*/        
        /*text-align: justify; - rivers! */
        width: 80%; /*som main 80 aligned snyggare, ser naturligare ut än mindre rader då lite rivers och ser konstigare ut*/
    }

    main { /*för report sidan - TOSDO ff text overflow*/
        width: 100%;
        margin: 0px;
        padding: 20px;
        /*kolla textstorlek på sidan*/
    }

    .landing-page main {
        margin-bottom: 7%;
        margin-left: auto;
        margin-right: auto;
    }

    main .about-my-home, main .about-my-development {
        display: none;
    }

    main .column {
        float: none;
        width: 100%;
    }

    footer {
        padding-top: 1.5em;
    }

    footer section {
        float: none;
        width: 100%;
    }

    footer .wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5em;
    }

    footer h3 {
        margin-bottom: 0.3em;
    }
}

@media print {
    nav {
        display: none;
    }

    #site-header, .landing-page #site-header {
        background-image: none;
    }
}